 :root { 
  --distancia-iconos: 1rem;
  --tamano-texto-menu: 2rem;
 }
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

a {
    color: var(--resources);
}

a > h4 {
  color: var(--resources);
  text-decoration: none;
  text-align: center;
}

a,
i {
    text-decoration: none;
    cursor: pointer;
}

article {
    display:block;
    margin: 30px;
    background-color: var(--foreground);
    padding: 40px 40px;
    border-radius: 0;
    color: var(--resources);
    align-items: center;
    width:auto;
    max-height: 50%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
}

    
blockquote {
  background-color: var(--foreground);
  margin: 5%;
  padding: 10px;
  border-radius: 0;
  text-align: left;
  color: var(--background);
  font-size: 1.5em;
  display: flex;
  flex: 1 1 calc(33.333% - 1rem);
  flex-direction: column;
  border: 0.2em solid;
}

blockquote > h2 {
  text-align: center;
}

/*botonera*/
.button-entradas {
    border-color: var(--admission)
}
.button-entradas > li > a > h4 {
  color: var(--admission);
  text-decoration: none;
  text-align: center;
}

.button-programacion {
    border-color: var(--headline)
}
.button-programacion > li > a > h4 {
  color: var(--headline);
  text-decoration: none;
  text-align: center;
}

.button-about {
    color:var(--about);
    border-color: var(--about)
}
.button-about > li >a > h4 {
  color: var(--about);
  text-decoration: none;
  text-align: center;
}

.button-contacto {
    color:var(--contacto);
    border-color: var(--contacto)
}
.button-contacto > li > a > h4 {
  color: var(--contacto);
  text-decoration: none;
  text-align: center;
}


body {
    font-family:'Space Grotesk', sans-serif;
    overscroll-behavior: smooth;
    background-color: var(--foreground);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    
}

button {
    text-align:center;
    vertical-align:middle;
    margin: 0.5em;
    background-color: var(--headline);
    padding: 0.5em;
    color: var(--about);

}

cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--other);
}

div{
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

div > article
{
  background-color: var(--background);
}

footer {
    background-color: transparent;
    color: var(--admission);
    padding: 20px;
    gap: 10px;
    width: 100%; 
}

footer > div {
    background-color: var(--background);
    padding: 10px;
    text-align: center;
    display: block;
}

.href {
    font-size: 200%;

}

header {
  padding: 1rem;
  font-size: 100%;
  display: block;
  align-items: center;
  background: transparent;
  top: 0;
  height: 100vh;
  flex-direction: column;
    justify-content: center;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-anchor: none;
}

h1 {
  font-size: 4em;
  margin: 2% 0;
  color: var(--resources);
  align-items: center;
}

h2 {
  font-size: 3em;
  margin: 20px 0;
  color: var(--foreground);
}

h3 {
  font-size: 2em;
  margin: 0.5%;
  color: var(--resources);
  display: inline-block;
  text-align: left;
}


h4 {
  font-size: 1.5em;
  margin: 0.5%;
  color: var(--background);
  align-items: center;
}

img {
  border-style: none;
  max-block-size: 70%;
  display: block;
  margin: auto;
   width: 100%;
}

.img-2{
    border-style: none;
    max-block-size: 50%;
    display:grid;
    margin: auto;    
}

.intro {
  color: var(--background)

}

main {
    display:block;
    width: 100%; 
    gap: 1rem; 
    overflow-y:hidden; 
    scroll-behavior:auto; 
    grid-template-columns:auto;
    background-color: transparent;
}

/*menús*/
#menu {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 3rem 0;
    background-color: transparent;
    transition-duration: 1s;
}

#menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    position: sticky;
}

.menu-icon {
    position: fixed;
    top: var(--distancia-iconos);
    left: var(--distancia-iconos);
    font-size: 2rem;
    color: var(--resources);
}

#menu > ul:last-child >  {
    position: absolute;
    right: var(--distancia-iconos);
    top: var(--distancia-iconos);
}

/*modales*/
#modal-imagen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(176, 41, 255, 0.596);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-imagen > figure {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#modal-imagen > figure > * {
    width: 40%;
    max-width: 600px;
    object-fit: cover;
}

#modal-imagen > figure > img {
    position: relative;
    filter: grayscale(100%);    
    box-shadow: rgb(235, 18, 170, 0.5) 1rem 1rem 1rem;
}

#modal-imagen > i,
#modal-entradas > i {
    position: absolute;
    top: 1rem;
    right:1rem;
    font-size: 3rem;
    cursor: pointer;
}

#modal-entradas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--resources);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-entradas > div {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--entradas);
}

#modal-entradas > div > h2 {
    font-size: 2em;
}

#modal-entradas > div > p,
#modal-entradas > div > ul > li {
    font-size: 1.2em;
}

#modal-entradas > div > ul > li > strong {
    font-weight: bold;
}

#modal-entradas > div > h2,
#modal-entradas > div > p,
#modal-entradas > div > ul {
    margin: 1rem 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  text-decoration: none;
  display: flex;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 20%;
  display: flex;
  justify-items: center;
  text-decoration: none;
}

.noviembre {
    color: var(--other);
    width: 100%;
    font-style: italic;
    padding: 0.5em;
    margin: 1em;
}

p {
    margin:1rem;
    line-height: 1.5rem;
    display: block;
    font-size: 1em;
    color: var(--resources);
}

section {
    min-height: 100vh;
    padding: 3em 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#entradas > blockquote {
  background-color: var(--headline);
  border-left: 10px solid var(--resources);
}

#about > blockquote {
  background-color: var(--about);
  border-left: 10px solid var(--resources);
}

#contacto > blockquote {
  background-color: var(--contacto);
  border-left: 10px solid var(--background);
}

#entradas> blockquote {
  background-color: var(--admission);
  border-left: 10px solid var(--resources);
}


/*

pasted

*/












#historia > div {
    display: flex;
    justify-content: space-between;
}

#historia > div > * {
    width: 40%;
    align-self: center;
}

.galeria {
    display: flex;
    justify-content: space-between;
}

.galeria > figure {
    width: 30%;
    border: var(--borde);
    transition: 0.5s;
}

.galeria > figure > img {
    filter: grayscale(100%);
}

.galeria > figure:hover {
    box-shadow: grey 1rem 1rem 1rem;
    cursor: pointer;
}

.galeria > figure > figcaption {
    display: none;
}

section > form > label {
    display: none;
}

#masinfo > form {
    width: 100%;
    max-width: 600px;
}

#masinfo > form > input,
#masinfo > form > select {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

#masinfo > form > input[type=submit],
#modal-entradas > div > button {
    width: auto;
    margin: 0 auto;
    padding: 1em;
    border-radius: 0.5rem;
    background-color: white;
    color: var(--color-primario);
    border: var(--color-primario) 1px solid;
    font-weight: bold;
    cursor: pointer;
}

#coste {
    font-weight: bold;
}




@media screen and (max-width: 850px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 5vw;
    }

    #historia  > div {
        flex-direction: column;
    }

    #historia  > div > * {
        width: 100%;
        gap: 1rem;
    }

    .galeria {
        flex-direction: column;
        gap: 1rem;
    }

    .galeria > figure {
        width: 100%;
    }

    #modal-imagen > figure {
        flex-direction: column;
    }

    #modal-imagen > figure > * {
        width: 100%;
    }
}