@media screen and (max-width: 1600px) {
    #textiles {
        flex-direction: row;
    }
}

@media screen and (max-width: 850px) {
   

    #textiles  > div {
        flex-direction: column;
    }

    #textiles  > div > * {
        width: 100%;
        gap: 1rem;
    }

    #modal-imagen > figure {
        flex-direction: column;
    }

    #modal-imagen > figure > * {
        width: 100%;
    }
}